
/* When clicked on the nav, the page scrolls smoothly
The entire page has the same font-family */
*{
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    scroll-behavior: smooth;
}

/* Inserted a background picture to the entire page */
body {
    background: url(images/backg.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* the justify content was set to end so the nav appears to the right of the page */
.header {
    padding: 5px;
    display: flex;
    justify-content: end;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.nav ul {
    margin-top: -4%;
}

/* Used inline-block to remove the block default from ul li so they are in the same line */
.nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;

}

.nav ul li a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color:darkgreen;
    margin-top: -3%;
    transition: .4s ease;
}

/* When hover over the nav, each item changes to a lighter green */
.nav ul li a:hover{
    color:rgb(32, 185, 32)
}

.hero-container {
    display: flex;
    margin-bottom: 6%;

}

#name {
    color:darkgoldenrod;
    font-size: 50px;
    margin-bottom: 10%;
}


.text-content {
    max-width: 50%;
    font-size: 28px;
    text-align: left;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-right: 3%;
}

/* Added picture */
.hero-image {
    margin-left: 20px;
    height: 700px;
    width: 50%;
    margin-bottom: 25px;
    background-image: url(images/me.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

 h2 {
    text-align: center;
    margin-bottom: 1%;
    font-size: 36px;
    font-weight: bold;
    color:tan
}

h3 {
    color:darkseagreen;
    font-size: 28px ;
}
/* Display is set to inblock so it appears next to the image in desktop web */
 .AboutMe {
    margin-left: 20px;
    display: inline-block;  
 }

 .MyWork {
    margin: 2%;
 }
    
 /* The wrap feautures allows images to move to next line instead of continuing the same line out of the page */
.card {
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
 }

 /* Added shadows and opacity to images and captions */
 .biggerpic {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    transition: .4s ease;
 } 

 .biggerpic:hover{
    opacity: 0.5;  
 }

 .smallerpic {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    transition: .4s ease; 
 }
 
 .smallerpic:hover {
    opacity: 0.5;
 }

 /* Made one picture bigger than the others */
#prework {
    height: 600px;
    width: 800px;
}


#horiseonpic, #contactmepic, #dogfinder, #bookworm {
    height: 300px;
    width: 450px;
}

figure {
    padding: 4px;
    margin:auto;
}

figcaption {
    text-align: left;
    padding: 2px;
    width: 450px;
    font-size: 20px;
    margin-top: 1%;
}

.ContactMe {
    max-width: 100%;
   text-align: center; 
   display: block;
}

.ContactMe ul {
    font-size: 20px;
    font-weight: bold;
    
}

.ContactMe ul li a {
    text-decoration: none;
    color: black;
}

.info {
    font-weight: bold;
}
.ContactMe ul li a.github:hover{
    color:forestgreen;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
 
/* Made the page responsive to different viewports */

@media screen and (max-width: 992px) {
    /* Changed display to block so the image appears first and then the .textcontent */


.hero-container {
    display: block;
    }

    /* Adjusted the widht of image and text */
.hero-image {
    width: 96%;
}
/* Made text adjust to screen */
.text-content {
    max-width: 100%;
    margin-right: 3%;
    margin-left: 3%;
} 

.AboutMe {
    display: inline-block;  
 }

 /* Center the pictures of my work */
.card {
    justify-content: center;
}
}




@media screen and (max-width: 768px) {
    .hero-image {
    
        width: 95%;
    }

    #prework {
        height: 600px;
        width: 95%;
    }
    

}

@media screen and (max-width: 600px) {
    /* Resized images, changed nav color */

    .nav ul li a{
        color:crimson;
    }
    .hero-image {
    
        width: 94%;
    }
    #prework {
        height: 500px;
        width: 95%;
    } 
    #horiseonpic, #contactmepic {
        height: 200px;
        width: 350px;
    }
    
}


@media screen and (max-width: 425px) {
    /* Changed fonts and re-sized images
    changed nav color */


    .nav ul li a{
        font-size: 18px;
        color:red;
    }

    .hero-image {
        height: 500px;
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .AboutMe {
        font-size: 20px;
    }

    .card {
        justify-content: center;
     }
    

    #prework {
        height: 350px;
        width: 95%;
    }
    
    #horiseonpic, #contactmepic {
        height: 200px;
        width: 70%;
    }
    
    figcaption {
        width: 90%;
        font-size: 18px;
    } 

    .ContactMe ul {
        font-size: 16px;

    }
}    

 